<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.root.mybatis.qnaBoard.QnaBoardMapper">

<resultMap id="board" type="com.care.root.qnaBoard.dto.QnaBoardDTO">
		<result property="num" column="num" />
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="groups" column="groups" />
		<result property="days" column="days" />
		<result property="hit" column="hit" />
		<result property="sort" column="sort" />
		<result property="answer" column="answer" />
</resultMap>

 <resultMap  id="rep" type="com.care.root.qnaBoard.dto.QnaBoardRepDTO">
		<id property="num" column="num"/>
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="write_group" column="write_group"/>
		<result property="write_date" column="write_date"/>
</resultMap>

 <insert id="addReply">
		insert into qna_reply(num,id,title,content,write_group) 
			values(qna_reply_seq.nextval,#{id},#{title},#{content},#{write_group})
</insert>

<update id="answerupdate">
	UPDATE QNA_BOARD SET ANSWER = '답변완료'
		WHERE NUM IN (SELECT WRITE_GROUP FROM QNA_REPLY)
</update>

<select id="boardAllList" resultMap="board">
	select * from qna_board
</select>
 
<select id="boardList" resultMap="board">
select B.* from(select rownum rn, A.* from
		(select * from qna_board order by num desc)A)B where rn between #{s} and #{e}
</select>

<select id="selectBoardCount" resultType="Integer">
		select count(*) from qna_board
</select>

<update id="upHit">
		update qna_board set hit = hit + 1 where num = #{num}
</update>	

<select id="contentView" resultMap="board">
		select * from qna_board where num = #{num}
</select>

<insert id="writeSave" >
	    insert into qna_board(num,id,title,content,sort)
	    values(qna_board_seq.nextval,#{id},#{title},#{content},#{sort})
</insert>

<update id="modify_save">
		update qna_board set title=#{title}, content=#{content}, 
			sort=#{sort} where num=#{num}
</update>

<delete id="delete">
		delete from qna_board where num = #{num}
</delete>

 <select id="getRepList" resultMap="rep">
		select * from qna_reply where write_group=#{write_group} 
												order by write_date desc
</select>
</mapper>