<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.care.root.mybatis.book.BookMapper">
	<resultMap  id="movie_info" type="com.care.root.book.dto.MovieInfoDTO">
		<id property="movie_number" column="movie_number"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="director" column="director"/>
		<result property="actor" column="actor"/>
		<result property="genre" column="genre"/>
		<result property="grade" column="grade"/>
		<result property="avg_mo" column="avg_mo"/>
		<result property="day" column="day"/>
    </resultMap>
    

    <resultMap id="member" type="com.care.root.member.dto.MemberDTO" >
		<id property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="limitTime" column="limit_time"/>
		<result property="sessionId" column="session_id"/>
		<result property="phonenumber" column="phonenumber"/>
	</resultMap>
	
	<select id="seat" resultMap="member">
		select * from membership where id = #{id}
	</select>


    <resultMap  id="bookInfo" type="com.care.root.book.dto.BookInfoDTO">
		<id property="pn" column="pn"/>
		<result property="title" column="title"/>
		<result property="days" column="days"/>
		<result property="times" column="times"/>
		<result property="theater" column="theater"/>
		<result property="seats" column="seats"/>
    </resultMap>

    
    <select id="movieList" resultMap="movie_info">
		select * from movie_info
		
	</select>
	<select id="movieDay" resultMap="movie_info">
		select * from movie_info
		where title = #{title}
	</select>
	
	<insert id="payment" >
	    insert into book_info(book_num,pn,book_code,seat)
	    values(book_info_seq.nextval,01012341234,#{code},#{seat})
	</insert>
	
	<select id="getBookInfo" resultMap="bookInfo">
		select * from book_info where pn = ${pn}
	</select>
	
	<select id="bookInfo" resultMap="bookInfo">
		select * from book_info
	</select>
    </mapper>